.tabs-panel {
  width: 18.75rem;
  border-left: .0625rem solid $light-border;
  border-right: .0625rem solid $light-border;
  display: none;
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  border-left: none;
  border-right: none;
  z-index: 2;
  background-color: $light-background;
  min-height: 100vh;
  &.visible {
    display: block;
  }
  @media (min-width: 769px) {
    display: block;
    position: static;
    width: auto;
    min-height: 37.5rem;
    width: 18.75rem;
    border-right: .0625rem solid $light-border;
  }
  &-tab {
    @include font-semi-bold;
    cursor: pointer;
    padding: .625rem 1.25rem;
    color: $inactive;
    &.active {
      color: $dark-text;
    }
    &:hover {
      background-color: $dark-hover-tint;
    }
  }
}
