$dark-background: #001935;
$hover-tint: rgba(0, 184, 255, 0.1);

$white: #FFF;
$warning: #D0342C;
$inactive: rgba(255, 255, 255, 0.65);
$accent: rgba(0, 184, 255, 1);
$normal: rgb(173, 172, 181);
$accent-tint: rgba(0, 184, 255, 0.65);
$normal-tint: rgb(173, 172, 181, 0.65);

$light-border: #D8D4DB;
